<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993218346956-ml4hi2tfs2qfkush28bprjo20brlooae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993218346956-ml4hi2tfs2qfkush28bprjo20brlooae</string>
	<key>API_KEY</key>
	<string>AIzaSyCa1JcsUEilXXkUR5GHUNorBA3TsM2SAT4</string>
	<key>GCM_SENDER_ID</key>
	<string>993218346956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.mmilad.sanati.oliva</string>
	<key>PROJECT_ID</key>
	<string>oliva-879be</string>
	<key>STORAGE_BUCKET</key>
	<string>oliva-879be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993218346956:ios:33f7348040117510172769</string>
</dict>
</plist>